{% extends 'base.html' %}
{% block content %}

    <style>
table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 120px;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width: 19.2%;
    float: left;
}
    </style>
<div class="container" style="background-color: white">
  <h2>Latest Blocks</h2>
  <table class="table table-striped">
    <thead>
    <tr>
        <th>Username</th>
        <th>Hash</th>
        <th>date-time</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="filterable-cell">Modi</td>
        <td class="filterable-cell">Kejriwal</td>
        <td class="filterable-cell">Rahul</td>
    </tr>
    <tr>
        <td class="filterable-cell">Modi</td>
        <td class="filterable-cell">Kejriwal</td>
        <td class="filterable-cell">Rahul</td>
    </tr>
            <tr>
        <td class="filterable-cell">Modi</td>
        <td class="filterable-cell">Kejriwal</td>
        <td class="filterable-cell">Rahul</td>
    </tr>
     <tr>
        <td class="filterable-cell">Modi</td>
        <td class="filterable-cell">Kejriwal</td>
        <td class="filterable-cell">Rahul</td>
    </tr>
    <tr>
        <td class="filterable-cell">Modi</td>
        <td class="filterable-cell">Kejriwal</td>
        <td class="filterable-cell">Rahul</td>
    </tr><tr>
        <td class="filterable-cell">Modi</td>
        <td class="filterable-cell">Kejriwal</td>
        <td class="filterable-cell">Rahul</td>
    </tr>
    </tbody></table>
</div>
<div id="container" class="container" ></div>

    <script type="text/javascript">
$(function () {
    var myChart = Highcharts.chart('container', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Vote prediction'
        },
        xAxis: {
            categories: ['Rahul', 'Modi', 'Kejriwal']
        },
        yAxis: {
            title: {
                text: 'Number of votes'
            }
        },
        series: [{
            name: 'Current',
            data: {{ current_data }}
        }, {
            name: 'Predicted',
            data: {{ predicted_data }}
        }]
    });
});
    </script>
{% endblock %}